<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
<div class="sm:mx-auto sm:w-full sm:max-w-sm">
<h2 class="mt-10 text-center text-2xl font-bold">Login to your account</h2>
</div>
<div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
<form class="space-y-6" action="#" method="POST">
<div>
    <label for="email" class="block text-sm font-medium">Email Address</label>
    <div class="mt-2">
        <input type="email" name="email" id="email" autocomplete="email" placeholder="Enter your email" class="w-full block rounded full border-0 px-4 py-1.5 text-grey-900 shadow-sm ring-1 ring-grey-300 placeholder-text-grey-400">
    </div>
</div>
<div>
    <div class="flex item-center justify-between">
        <label for="passsword" class="block text-sm font-bold">Password</label>
<input type="password" name="password" id="passwod" autocomplete="current-password" required placeholder="Enter strong password" class="w-full block rounded full border-0 px-4 py-1.5 text-grey-900 shadow-sm ring-1 ring-grey-300 placeholder-text-grey-400">
    </div>
</div>
<div>
    <button type="submit" class="flex w-full justify-center rounded-full btn-primary px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm">Sign in</button>
</div>
</form>
<p class="mt-10 text-sm text-center text-grey-500">
Don't have an account?
<a class="font-semibold text-primary" href="/register">Register Now</a>
</p>
</div>
</div>